<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Mastery</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <div class="nav-bar"></div>
      <div class="cart">Cart ({{ cart }})</div>
      <div class="product-display">
        <div class="product-container">
          <h1>{{ title }}</h1>
          <p v-if="inStock > 10">In Stock</p>
          <p v-else-if="inStock <= 10 && inStock > 0">Almost sold out</p>
          <!--v-show for toggle elements visibilty-->
          <p v-else=>Out of Stock</p>
          <div>
          <p> {{ sale }}</p>
        </div>
        <div class="product-image">
          <!--v-bind: shorthand is just :-->
          <a :href="url">
            <img :class="{ 'out-of-stock-img' : !inStock }" :src="image">
        </a>

        </div>
        <ul>
          <li v-for="detail in details">{{ detail }}</li>
        </ul>
        <ul>
          <li v-for="size in sizes">{{ size}}</li>
        </ul>
        <!--on the style binding {} equals JavaScript for this reason the backgroundColor is in camel case @-->
        <div v-for="(variant, index) in variants" :key="variant.id" @mouseover="updateVariant(index)" class="color-circle" :style="{ backgroundColor: variant.color }">{{ variant.color }}</div>
        <!--v-on: shorthand is @-->
         <button class="button" :class="{ disabledButton: !inStock }" :disabled="!inStock" @click="addToCart">Add to Cart</button>
         <button class="button" @click="removeFromCart">Remove from Cart</button>
          
      <p>{{ description }}</p>
        </div>
      </div>
      
    </div>

    <!-- Import App -->
    <script src="./main.js"></script>
    <!--Mount App-->
    <script>
      const mountedApp = app.mount('#app')
    </script>
  </body>
</html>

